CONFIG_ESP32C3_REV_MIN_3=y
CONFIG_ESPTOOLPY_FLASHSIZE_4MB=y
CONFIG_PARTITION_TABLE_CUSTOM=y
CONFIG_PARTITION_TABLE_CUSTOM_FILENAME="../partitions.csv"
CONFIG_ESP_HTTPS_OTA_ALLOW_HTTP=y
CONFIG_EXAMPLE_CONNECT_WIFI=y
CONFIG_EXAMPLE_WIFI_SSID="LAB_NOT_CONFIGURED"
CONFIG_EXAMPLE_WIFI_PASSWORD="LAB_NOT_CONFIGURED"
CONFIG_LAB_OTA_URL="http://192.168.4.2:8070/untrusted_update.bin"
CONFIG_LAB_OTA_START_DELAY_SECONDS=5
CONFIG_APP_PROJECT_VER_FROM_CONFIG=y
CONFIG_APP_PROJECT_VER="insecure-client-1.0.0"
